@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
*{
    padding: 0px;
    margin: 0px;
}
.mainDiv{
    width:100%;
    height:100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.header{
    width: 100vw;
    height: 10vh;
    background: rgb(9, 9, 9);
    display: flex;
    position: fixed;
    align-items: center;
}
::-webkit-scrollbar {
  width: 20px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: rgb(9, 9, 9);
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  div.socialProfiles {
    display: none;
  }
  div.MainEmail {
    display: none;
  }
  div.head-btn-grp {
    display: none;
  }
  div.resume{
    display: none;
  }
  div.bars{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: end;
    margin-right: 40px;
  }
  div.about{
    display: block;
  }
}
.MainEmail{
  display: flex;
  align-items: center;
  justify-items: center;
  bottom: 0%;
  gap: 20px;
  color: white;
  width: max-content;
  height: max-content;
  position: absolute;
  right: 4%;
  writing-mode: vertical-lr;
}
.MainEmail a{
  letter-spacing: 1;
  text-decoration: none;
  color: white;
}
.MainEmail a:hover{
  color: #64ffda;
  cursor: pointer;
}
.MainEmail span{
  height: 100px;
  width: 2px;
  background-color: white;
}
.socialProfiles{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  height: 330px;
  width: 30px;
  bottom: 0%;
  left: 3%;
  float:right;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)
}
.socialProfiles i{
  font-size: 25px;
  color: white;
}
.socialProfiles :nth-child(1):hover{
  font-size: 35px;
  color: #5890FF;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)
}
.socialProfiles :nth-child(2):hover{
  font-size: 40px;
  color:  #833AB4;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)
}
.socialProfiles :nth-child(3):hover{
  font-size: 40px;
  color: rgb(61, 60, 60);
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)
}
.socialProfiles :nth-child(4):hover{
  font-size: 40px;
  color: red;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)
}
.socialProfiles :nth-child(5):hover{
  font-size: 40px;
  color: #5890FF;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1)
}
.socialProfiles span{
  height: 100%;
  width: 2px;
  background-color: white;
}
.resume{
    margin-left: 30px;
    font-size: 17px;
    color: white;
    cursor: pointer;
}
.resume::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #edece8;
    transition: width .5s;
}
.resume:hover::after{
    width: 100%;
    height: 4px;
}
.head-btn-grp{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 40px;
    margin-right: 30px;
    justify-content: end;
}
.btn1{
    display: inline-block;
    color: #f5efef;
    cursor: pointer;
}
.btn1::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #edece8;
    transition: width .5s;
}
.btn1:hover::after{
    width: 100%;
    height: 4px;
}
.bars{
  font-size: 35px;
  color: #edece8;
  cursor: pointer;
  display: none;
}
.lts-gt-std-btn{
    display: flex;
    background: transparent;
    align-items: center;
    width: 150px;
    font-size: 20px;
    height: 40px;
    border: 1px solid rgb(123, 118, 118);
    justify-content: center;
    --b: 0.1em;   /* the thickness of the line */
    --c: #fff; /* the color */
    
    color: #484848;
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
.lts-gt-std-btn:hover{
    cursor: pointer;
    color: #fff;
    --_p: 100%;
    --_s: .3s;
    border: 1px solid rgb(8, 8, 8);
}
.mainBody{
    display: flex;
    flex-direction: column;
}
.body{
    height: 720px;
    width: auto;
    display: flex;
    justify-content: center;
    background: rgb(9, 9, 9);
}
.profile{
    width: 70vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
}
.I{
  transition: .5s linear;
  margin-left: 0px;
}
.name h1{
    color: #24b7c8;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    align-items: center;
    justify-content: center;
    letter-spacing: 7px;
    cursor: pointer
  }
  .name h1 .sunil{
    transition: .5s linear;
    margin-left: 20px;
  }
  .name h1:hover span:nth-child(1){
    margin-right: 5px
  }
  .name h1:hover span:nth-child(1):after{
    content: "";
  }
  .name h1:hover span:nth-child(2){
    margin-left: 30px
  }
  .name h1:hover span{
    color: #ffffff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
  }
  .discription{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #fff;
  }
  .started{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .about{
    height: 700px;
    width: 100vw;
    background: rgb(9, 9, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
  }
  .aboutHeader{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,32px);
    white-space: nowrap;
  }
  .aboutHeader::after{
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
  }
  .aboutHeader::before{
    bottom: 4px;
    content: "01.";
    margin-right: 10px;
    color: #64ffda;
    font-size: 30px;
    font-weight: 400;
  }
  .AboutDiscription{
    width: 30vw;
    color: rgb(253, 252, 252);
    font-size: 20px;
  }
 .AboutProfile img {
    width: 15vw;
    height: 35vh;
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    background: rgba(76, 175, 80, 0.3);
  }
  .AboutProfile img:hover{
    opacity:0.5;
  }
  .skills{
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
  }
  .skills li::before{
    content: "▹";
    color: #64ffda;
    font-size: 20px;
    line-height: 12px;
  }
  .experience{
    width: 100vw;
    height: 600px;
    background: rgb(9, 9, 9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .experienceDiscription{
    width: 50vw;
  }
  .experienceHeader{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,32px);
    white-space: nowrap;
  }
  .experienceHeader::after{
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
  }
  .experienceHeader::before{
    bottom: 4px;
    content: "01.";
    margin-right: 10px;
    color: #64ffda;
    font-size: 30px;
    font-weight: 400;
  }
  
  .projects{
    height: 720px;
    width: 100vw;
    background: rgb(9, 9, 9);
  }
  .contact{
    height: 720px;
    width: 100vw;
    background: rgb(9, 9, 9);
  }
  .wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    /* clip-path: circle(25px at calc(0% + 45px) 45px); */
    background: #000;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    background: #000;
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    color: #fff;
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    background: #000;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
     background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; /* if the font is 'Oswald'*/
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #fff;
  }
  
  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }
  
